.sing-footer
  .sing-footer__main
    .sing-footer__main__nav
      %ul
        = link_to "#", class: 'sing-footer__main__nav__title' do
          %li.sing-footer__main__nav__title プライバシーポリシー
        = link_to "#", class: 'sing-footer__main__nav__title' do
          %li.sing-footer__main__nav__title メルカリ利用規約
        = link_to "#", class: 'sing-footer__main__nav__title' do
          %li.sing-footer__main__nav__title 特定商取引に関する表記
    .sing-footer__main__log
      =link_to "#", class: "sing-footer__main__log" do
        = embedded_svg("logo_gray.svg", class: "sing-footer__main__log")
    %p.sing-footer__main__small © 2019 Mercari