%h2 電話番号認証

%br/

-# 実装必須か確認するまでの仮置
%h3 認証番号
%input(type="text")
%p SMSで届いた認証番号を入力してください


%br/
= button_to "認証して完了", signup_user_create_path, method: :post
%br/

%br/
%h3 30秒たっても認証番号が届かない方へ
%p 電話で認証番号を聞くこともできます。
%br/
%button 電話で認証番号を聞く（通話無料）

%br/
%br/

=link_to "現状はボタンの代わりにこっちで遷移してください！", signup_address_path

