=render partial: 'shared/header'
=render partial: 'shared/sell_icon'

.nav-breadcrumb
  - breadcrumb :logout
  = render partial: 'shared/bread-crumbs'
.mypage-index
  .mypage-index__box
    .mypage-nav
      =render partial: 'shared/nav-bar'
    .sign-out
      =link_to destroy_user_session_path, class: 'sign-out--link', method: :delete do
        .sign-out__btn
          ログアウト

=render partial: 'shared/footer'