- content_for :current_page do
  -# ここに今のページ名を記載
  プロフィール
- content_for :current_path do
  -# ここに今のページのリンクを記載
  \/#


.profile
  .profile__title
    プロフィール
  .profile__top
    .profile__top__contents
      .profile__top__contents__wrapper
        =image_tag 'member_photo_noimage_thumb.png', class: 'profile__top__contents--image'
        =form_tag('#', method: :get, class: 'profile__top__contents--name') do
          %input{placeholder: 'user name', class: 'profile__top__contents--name'}
  .profile__bottom
    =form_tag('#', method: :get) do
      %textarea{class: 'profile__bottom--form', type: 'text', placeholder: '例）こんにちは☆ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に９号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪'}
      %button{type: 'submit', class: 'profile__bottom--btn'}
        変更する
