.list
  %ul
    =link_to "#",class: "list" do
      %li.list__item シャネル      
    =link_to "#",class: "list" do
      %li.list__item ナイキ
    =link_to "#",class: "list" do
      %li.list__item ルイ ヴィトン
