.slick
  .slick__one
    %img{:alt => "", :height => "390", :src => "images/wave-1817646_1280.png", :width => "100%"}/
  .slick__two
    %img{:alt => "", :height => "390", :src => "images/abstract-air-backdrop-1755967_1280.jpg", :width => "100%"}/
    .slick__two__ber
      .slick__two__ber__left
      .slick__two__ber__right