.list
  %ul
    =link_to "#",class: "list" do
      %li.list__item レディース             
    =link_to "#",class: "list" do
      %li.list__item メンズ
    =link_to "#",class: "list" do
      %li.list__item ベビー・キッズ

