.nav-bar
  =link_to mypage_path, class: 'bar-link' do
    .bar
      .bar--text
        マイページ
      .bar--arrow--move
        >
  =link_to '#', class: 'bar-link' do
    .bar
      .bar--text
        お知らせ
      .bar--arrow--move
        >
  =link_to '#', class: 'bar-link' do
    .bar
      .bar--text
        やることリスト
      .bar--arrow--move
        >
  =link_to '#', class: 'bar-link' do
    .bar
      .bar--text
        いいね！一覧
      .bar--arrow--move
        >
  =link_to items_sell_path, class: 'bar-link' do
    .bar
      .bar--text
        出品する
      .bar--arrow--move
        >
  =link_to '#', class: 'bar-link' do
    .bar
      .bar--text
        出品した商品-出品中
      .bar--arrow--move
        >
  =link_to '#', class: 'bar-link' do
    .bar
      .bar--text
        出品した商品-取引中
      .bar--arrow--move
        >
  =link_to '#', class: 'bar-link' do
    .bar
      .bar--text
        出品した商品-売却済み
      .bar--arrow--move
        >
  =link_to '#', class: 'bar-link' do
    .bar
      .bar--text
        購入した商品-取引中
      .bar--arrow--move
        >
  =link_to '#', class: 'bar-link' do
    .bar
      .bar--text
        購入した商品-過去の取引
      .bar--arrow--move
        >
  =link_to '#', class: 'bar-link' do
    .bar
      .bar--text
        ニュース一覧
      .bar--arrow--move
        >
  =link_to '#', class: 'bar-link' do
    .bar
      .bar--text
        評価一覧
      .bar--arrow--move
        >
  =link_to '#', class: 'bar-link' do
    .bar
      .bar--text
        ガイド
      .bar--arrow--move
        >
  =link_to '#', class: 'bar-link' do
    .bar
      .bar--text
        お問い合わせ
      .bar--arrow--move
        >



  .nav-bar__title
    Fmarketペイ

  =link_to '#', class: 'bar-link' do
    .bar
      .bar--text
        売上・振込申請
      .bar--arrow--move
        >
  =link_to '#', class: 'bar-link' do
    .bar
      .bar--text
        ポイント
      .bar--arrow--move
        >



  .nav-bar__title
    設定

  =link_to profile_path, class: 'bar-link' do
    .bar
      .bar--text
        プロフィール
      .bar--arrow--move
        >
  =link_to '#', class: 'bar-link' do
    .bar
      .bar--text
        発送元・お届け先住所変更
      .bar--arrow--move
        >
  =link_to card_tp_path, class: 'bar-link' do
    .bar
      .bar--text
        支払い方法
      .bar--arrow--move
        >


  =link_to '#', class: 'bar-link' do
    .bar
      .bar--text
        メール/パスワード
      .bar--arrow--move
        >


  =link_to identification_path, class: 'bar-link' do
    .bar
      .bar--text
        本人情報
      .bar--arrow--move
        >


  =link_to '#', class: 'bar-link' do
    .bar
      .bar--text
        電話番号の確認
      .bar--arrow--move
        >
  =link_to logout_path, class: 'bar-link' do
    .bar
      .bar--text
        ログアウト
      .bar--arrow--move
        >





