.picture
  =link_to '#', class: "picture" do
    .picture__top
      = image_tag "shoes.jpg", class: "picture__top--item"
    .picture__bottom
      %p.picture__bottom--text 説明文 説明文 説明文 説明文 説明文 説明文 説明文 説明文 説明文 説明文 説明文 説明文 説明文 説明文 説明文 説明文 説明文 説明文 説明文 最後
