.slick
  .slick__one
    %img{:alt => "", :height => "290", :src => "images/スクリーンショット 2019-11-10 21.38.04.png", :width => "100%"}/
  .slick__two
    %img{:alt => "", :height => "290", :src => "images/スクリーンショット 2019-11-10 21.38.18.png", :width => "100%"}/
    .slick__two__ber
      .slick__two__ber__left
      .slick__two__ber__right