- @items.each do |item|
  .picture
    = link_to item_path(item), class: "picture" do
      .picture__top
        - item.images.first(1).each do |image|
          = image_tag image.image_url.to_s, class: "picture__top--item"
        .picture__top--price
          ¥
          = item.price
      .picture__bottom
        %p.picture__bottom--text
          = item.name
