.popular
  .popular__contents
    .popular__contents__top
      人気のカテゴリー
    .popular__contents__bottom
      .tag__wrapper
        -4.times do 
          =link_to '#', class: "tag__item" do
            .tag__item
              レディース
    