- items.each do |item|
  .show-picture
    =link_to item_path(item), class: "show-picture" do
      .show-picture__top
        - item.images.first(1).each do |image|
          = image_tag image.image_url.to_s, class: "show-image"
      .show-picture__bottom
        %p.show-picture__bottom--text= item.name
        .show-picture__bottom--price 
          ¥
          = item.price
        .show-picture__bottom--like
          =fa_icon 'heart-o', class: 'like-icon'
          %span= item.fav
