.single-header
  .single-header__main
    =link_to root_path, class: "single-header__logo" do
      = embedded_svg("fmarket_logo_red.svg", class: "single-header__logo")


.buy-container
  .buy-wrapper

    .buy-title
      %h2.buy-title__text
        購入が完了しました！
    
    .buy-main
      .buy-form
        .buy-form__purchase
          = link_to "トップページに戻る", root_path, class: 'buy-form__purchase__button'

= render partial: 'signup/signup-footer'