<%# コンプリートリテラル下書き用 %>

<div class="sell-select hidden-child">
  <select class="sell-select__child">
    <option class="option-prompt">---</option>
    <option value="1">トップス</option>
  </select>
</div>

<div class="sell-select hidden-grandchild">
  <select class="sell-select__grandchild">
    <option class="option-prompt">---</option>
    <option value="1">Tシャツ/カットソー(半袖/袖なし)</option>
  </select>
</div>

<div class="sell-field-serve hidden-property">
  <h3>サイズ</h3>
  <span class="required">必須</span>
  <div class="sell-select">
    <select class="sell-select__property">
      <option class="option-prompt">---</option>
      <option value="1">XXS以下</option>
    </select>
    <i class="fa fa-angle-down"></i>
  </div>
</div>

<div class="sell-field-serve hidden-bland">
  <h3>ブランド</h3>
  <span class="optional-tag">任意</span>
  <div class="sell-form-half">
    <input class="sell-form-half__input">
  </div>
</div>