.address-form {
  background-color: white;
  height: 1083px;
  width: 343px;
  margin: 0 auto;
}

#address_prefecture {
  width: 100%;
  background-color: white;
  font-weight: lighter;
  border-width: 0.5px;
}