.progress {
  padding: 40px 0 0 40%;
  border: 0;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  text-align: center;
  height: 72px;
  width: 560px;  
  &-bar{
    margin: 0;
    li{
      margin: 0 40px 0 0;
      padding: 0;
      position: relative;
      z-index: 40;
      display: inline-block;
      min-width: 60px;
      font-size: 12px;
      color: gray;
      .progress-status{
        position: absolute;
        left: 40%;
        width: 12px;
        height: 12px;
        margin: 3px auto 0;
        background: gray;
        border-radius: 50%;
        z-index: 30;
      }
    }
  }
}

.progress-status_bar {
position: absolute;
left: 50%;
top: 25px;
bottom: 5px;
display: block;
width: 130px;
height: 2px;
background: gray;
z-index: 10;
}

.end .progress-status_bar {
width: 0px;
}
.payment .progress-status_bar {
width: 100px;
}
#through{
  color: #ea352d;
  .progress-status{
    background: #ea352d;
  }
}

#through .progress-status_bar{
    background: gray;
  }
  #active{
    color: gray;
    .progress-status{
      background: gray;
    }
  }

// 電話番号入力画面のバー
.signup_phonenumber{
  #through{
    color: gray;
    .progress-status_bar{
      background: #ea352d;
    }
  }
  #active{
    color: #ea352d;
    .progress-status {
      background: #ea352d;
    }
    .progress-status_bar{
      background: gray;
    }
  }
  #address{
    color: gray;
    .progress-status {
      background: gray;
    }
  } 
}

// お届け先住所入力欄のバー
.signup_address{
  #through{
    color: gray;
    .progress-status_bar{
      background: #ea352d;
    }
  }
  #active{
    color: gray;
    .progress-status {
      background: #ea352d;
    }
    .progress-status_bar{
      background: #ea352d;
    }
  }
  #address{
    color: #ea352d;
    .progress-status {
      background: #ea352d;
    }
  } 
}

// カード情報入力欄のバー
.signup_card{
  #through{
    color: gray;
    .progress-status_bar{
      background: #ea352d;
    }
  }
  #active{
    color: gray;
    .progress-status {
      background: #ea352d;
    }
    .progress-status_bar{
      background: #ea352d;
    }
  }
  #address{
    color: gray;
    .progress-status {
      background: #ea352d;
    }
    .progress-status_bar{
      background: #ea352d;
    }
  } 
  #payment{
    color: #ea352d;
    .progress-status {
      background: #ea352d;
    }

  }
}

// 登録完了画面のバー
.signup_complete{
  #through{
    color: gray;
    .progress-status_bar{
      background: #ea352d;
    }
  }
  #active{
    color: gray;
    .progress-status {
      background: #ea352d;
    }
    .progress-status_bar{
      background: #ea352d;
    }
  }
  #address{
    color: gray;
    .progress-status {
      background: #ea352d;
    }
    .progress-status_bar{
      background: #ea352d;
    }
  } 
  #payment{
    color: gray;
    .progress-status {
      background: #ea352d;
    }
    .progress-status_bar{
      background: #ea352d;
    }
  }
  #end{
    color: #ea352d;
    .progress-status {
      background: #ea352d;
    }
  }
}