*{
  box-sizing: border-box;
}

.items-show{
  background-color: rgb(245, 245, 245);
  padding: 40px 25%;
  
}

.show-main{
  background-color: white;
  width: 100%;
  padding: 24px 40px 40px 40px;
  &__title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 1.7em;
    margin-bottom: 16px;
  }
  &__pictures{
    background-color: #f5f5f5;
    width: 300px;
    height: 420px;
    float: left;
  }
  &__info{
    margin: 0 0 0 auto;
    width: 299px;
    height: 419px; 
    float: right;

  }
  &__price{
    background-color: darkcyan;
    clear: both;
  }
}

.picture{
  &--main{
    width: 300px;
    height: 300px;
    display: block;
  }
  &--sub{
    width: 60px;
    height: 60px;
    display: block;
    float: left;
    flex-wrap: wrap;
  }
}

.info-table{
  width: 299px;
  height: 419px; 
  table, th, td{
    border:1px solid #fafafa;
    border-collapse: collapse;
  }
  th, td{
    font-size: 13px;
    padding: 0 5px;
  }
  th{
    background-color: rgb(245, 245, 245);
  }
}



.show-comment{

}
.show-link{

}
.show-sns{

}
