*{
  box-sizing: border-box;
}

.popular {
  background-color: white;
  height: 170px;
  width: 100vw;
  
  &__contents {
    padding-top: 60px;
    &__top{
      font-size: 25px;
      text-align: center;
      font-weight: bold;
    }
    &__bottom{
      padding: 15px 0;
      display: flex;
    }

  }
}

.tag{
  &__wrapper{
    display: flex;
    margin: 0 auto;
  }
  &__item{
    background-color: rgb(245, 245, 245);
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 2px 6px;
    border-radius: 25px;
    margin-left: 5px;
  
  }
}



    